<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="css/style.css">
   <link rel="stylesheet" href="css/reset.css">
   <script defer src="js/main.js"></script>
   <title>Document</title>

</head>
<body>
  <div class="wrapper">
   <header class="header">
      <div class="container">
         <a href="#" class="logo">
            <img src="images/Logo__megu.png" alt="Logo">
         </a>
      </div>
   </header>

   <main class="main">
      <div class="container">
         <h3 class="marks__title">
            Список предметів
         </h3>
         <div class="list__of__subjects__inner">
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text">Бази даних</p>
            </div>
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text"> Маркетинг</p>
            </div>
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text">Захист комп'ютерних мереж</p>
            </div>
         </div>
         <div class="list__of__subjects__inner">
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text">Архітектура та проектування програмного забезпечення</p>
            </div>
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text">Економіка підприємств і управління персоналом/Фінанси та банківська справа/Зовнішня та внутрішня економічна діяльність</p>
            </div>
            <div class="list__of__subjects__box">
               <img src="images/Бази даних.svg" alt="">
               <p class="list__of__subjects__text">Бази даних</p>
            </div>
         </div>

        
           
      </div>
   </main>

   <footer class="footer">
      <div class="container">
         <div class="footer__top">
            <img src="images/Logo__megu__footer.png" alt="">
            <ul class="footer__list">
               <li class="footer__list__item">
                  <a href="#" class="footer__link">
                     Основний сайт університету
                  </a>
               </li>
               <li class="footer__list__item">
                  <a href="#" class="footer__link">
                     Контакти
                  </a>
               </li>
               <li class="footer__list__item">
                  <a href="#" class="footer__link">
                     Платіжні реквізити МЕГУ
                  </a>
               </li>
               <li class="footer__list__item">
                  <a href="#" class="footer__link">
                     Електронні пошта
                  </a>
               </li>
            </ul>
         </div>
      </div>
   </footer>
  </div>
</body>
</html>