html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html,
body {
  height: 100%;
}

table {
  max-width: 100%;
  margin: 0 auto;
}
th {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
td {
  border: 1px solid black;
  padding: 8px;
  text-align: center;
}
th {
  background-color: #f2f2f2;
  text-transform: uppercase;
}

@font-face {
  font-family: "Jaldi";
  src: url("../fonts/Jaldi-Regular.woff2") format("woff2");
  font-weight: 400;
  font-display: swap;
}
@font-face {
  font-family: "Jaldi";
  src: url("../fonts/Jaldi-Bold.woff2") format("woff2");
  font-weight: 700;
  font-display: swap;
}

body {
  font-family: "Jaldi", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.4;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
}

button {
  background-color: transparent;
  border: 0;
  padding: 0;
  cursor: pointer;
}

.wrapper {
  min-height: 100%;
  display: flex;
  flex-direction: column;
}
u {
  text-underline-offset: 5px;
}

.main {
  flex: 1 1 auto;
}

.container {
  max-width: 1220px;
  padding: 0 10px;
  margin: 0 auto;
}

.header {
  background-color: #ae6cec;
  margin-bottom: 1.875rem;
}

.logo {
  display: block;
  text-align: center;
  padding-top: 10px;
  padding-bottom: 3px;
}

#form {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 120px;
  border-radius: 15px;
}

.form__login {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 7.5rem;
  border: 0.5px solid rgb(0, 0, 0);

  border-radius: 15px;
}

.form__login .login {
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  padding: 12px 95px;
  color: white;
  background-color: rgb(41, 57, 194);
  &:hover {
    background-color: #181d79;
  }

  border: none;
  border-radius: 4px;
  margin-bottom: 50px;
  transition: all.5s;
}

#form .login {
  padding: 10px;
  margin-top: 10px;
  width: fit-content;
  padding: 12px 95px;
  color: white;
  background-color: rgb(41, 57, 194);
  border: none;
  border-radius: 4px;
  margin-bottom: 50px;
  transition: all.5s;
}

#form .login:hover {
  background-color: #181d79;
}

#form .qr__code__btn {
  width: fit-content;

  margin-bottom: 20px;
  color: #000;
  position: relative;
  &::before {
    position: absolute;
    content: "<";
    width: 14px;
    height: 14px;
    color: #000;
    top: 20px;
    transform: rotate(-90deg);
    left: 50px;
  }
}

.input-control {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
}

.input-control input {
  border: 2px solid #714747;
  border-radius: 4px;
  display: block;
  font-size: 0.75rem;
  padding: 0.75rem 1.25rem;
  width: 17rem;
}

.input-control label {
  text-align: left;
  font-size: 1rem;
}

.btn__con {
  text-align: center;
}

.input-control input:focus {
  outline: 0;
}

.input-control.success input {
  border-color: #09c372;
}

.input-control.error input {
  border-color: #ff3860;
}

.input-control .error {
  color: #ff3860;
  font-size: 0.75rem;
  height: 13px;
}

.switch__form {
  margin-bottom: 20px;
}

.Upload__input {
  display: none;
}

.Upload__label {
  display: block;
  height: 6.25rem;
  width: 9.375rem;
  border-radius: 6px;
  border: 1px dashed #999;
  text-align: center;
  padding-top: 2.1875rem;
  &:hover {
    color: #de0611;
    border: 1px dashed #de0611;
    cursor: pointer;
  }
}

.footer__list__item {
  margin-bottom: 10px;
  position: relative;
}
.footer__list__item::before {
  position: absolute;
  content: "";
  width: 6px;
  height: 2px;
  background-color: #fff;
  top: 7px;
  left: -20px;
}

.footer {
  background-color: #ae6cec;
  padding: 0.625rem 1.25rem;
}

.footer__top {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 60px;
  flex-wrap: wrap;
}

.footer__link {
  color: #fcf7f7;
}

.role {
  text-align: center;
  margin-bottom: 25px;
  font-size: 2rem;
  line-height: 1.5;
  font-weight: 700;
  &::first-letter {
    text-transform: uppercase;
  }
}

.admin__panel__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 47px;
  margin-bottom: 37px;
}

.admin__panel__btn__box {
  width: 18.75rem;
  min-height: 16.5625rem;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  text-align: center;
  padding-top: 7.125rem;
}

.admin__panel__btn__text {
  color: #000;
  font-size: 2rem;
  line-height: 1.5;

  overflow-wrap: break-word;
  word-break: break-word;
}

.admin__panel__btn__text:hover {
  text-decoration: underline 4px solid #000;
  text-underline-offset: 10px;
}

.form__title {
  margin-bottom: 25px;
  text-align: center;
  font-weight: 700;
  font-size: 2rem;
  line-height: 1.5;
}

.information__box {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 2.0625rem;
  flex-wrap: wrap;
  margin-bottom: 0.625rem;
}

#admin__form {
  max-width: 41.3125rem;
  margin: 0 auto;
  padding-top: 1.25rem;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 0.9375rem;
  margin-bottom: 6.25rem;
}

#admin__form__setings {
  max-width: 41.3125rem;
  margin: 0 auto;
  padding-top: 1.25rem;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin-bottom: 6.25rem;
}

.footer__form__wrapper {
  display: flex;
  justify-content: center;
}

.footer__form {
  flex-wrap: wrap;
}

.footer__form input {
  margin-bottom: 10px;
}

#person {
  width: 17rem;
  padding: 0.625rem 1.25rem;
  margin-bottom: 1.5625rem;
}
.admin__btn {
  color: #fff;
  background-color: rgb(41, 57, 194);
  &:hover {
    background-color: rgb(19, 28, 111);
  }
  padding: 0.75rem 5.9375rem;
  max-width: fit-content;
  margin: 0 auto;
  margin-bottom: 4.375rem;
  transition: all.5s;
}

.container__list {
  max-width: 920px;
  margin: 0 auto;
  padding: 0 10px;
}

.student__title {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 700;
  color: #000;
  margin-bottom: 30px;
}

.list__top {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-bottom: 25px;
}

.list__top__text {
  font-size: 1.25rem;
  line-height: 24px;
  font-weight: 700;
}
.list__info {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  place-items: center;
  margin-bottom: 35px;
  background-color: #fcf7f7;
  padding: 1.1875rem 0.625rem;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
}

.btns__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;
}

.list__info__btn {
  background-color: #2c2c2c;
  color: #fff;
  border-radius: 8px;
  padding: 12px 28px;
  transition: all.5s;
  &:hover {
    background-color: #151515;
  }
}

.personal__info__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 115px;
  margin-bottom: 100px;
}

.personal__info__title {
  padding-top: 80px;
  margin-bottom: 50px;
  font-weight: 700;
  font-size: 1.25rem;
}

.personal__info__box {
  width: 390px;
  height: 529px;
  border: 0.5px solid rgb(0, 0, 0);
  background-color: #fcf7f7;
  border-radius: 15px;
  text-align: center;
  margin-bottom: 200px;
}
.personal__info__link {
  background-color: #2c2c2c;
  color: #fff;
  padding: 0.75rem 4.375rem;

  border: 1px solid rgb(44, 44, 44);
  border-radius: 8px;
}

#form__subject {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 120px;
  border-radius: 15px;
}

#form__subject .login {
  color: #fff;
  background-color: rgb(41, 57, 194);
  padding: 12px 95px;
  max-width: fit-content;
  transition: all.5s;
  &:hover {
    background-color: #181d79;
  }
  margin: 0 auto;
  margin-bottom: 70px;
}

#image__subject {
  display: none;
}

.imgup {
  border: 2px solid #714747;
  border-radius: 4px;
  display: block;
  font-size: 12px;
  padding: 12px 20px;
  width: 272px;
  margin-bottom: 25px;
}

.faculty__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;
  column-gap: 20px;
  margin-bottom: 25px;
}

.faculty__box {
  text-align: center;
  max-width: 500px;
  margin: 0 auto;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px 40px;
  background: rgb(252, 247, 247);
}

.work__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  column-gap: 30px;
}
.work__inner:last-child {
  margin-bottom: 120px;
}

.faculty__text {
  font-weight: 700;
  font-size: 1.2rem;
  line-height: 27px;
  max-width: 400px;
  margin: 0 auto;
  overflow-wrap: break-word;
}
.work__text {
  margin-bottom: 43px;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  padding: 20px;
  font-size: 1.2rem;
  line-height: 35px;
  font-weight: 700;
  text-align: center;
  text-wrap: balance;
}

.toggle-btn {
  position: fixed;
  top: 1rem;
  left: 1rem;
  z-index: 1000;
  background-color: #368462;
  border: none;
  padding: 10px 15px;
  color: #fff;
  font-size: 20px;
  border-radius: 5px;
  cursor: pointer;
}

.sidebar.closed {
  transform: translateX(-100%);
  transition: transform 0.3s ease;
}

.sidebar__inner {
  display: flex;
  position: relative;
}

.sidebar__inner .sidebar {
  width: 190px;
  height: 100vh;
  left: 0;
  background: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 30px 0px;
  position: fixed;
  overflow: hidden;
}

.sidebar__inner .sidebar h1 {
  color: #252cb1;
  font-size: 40px;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 25px;
}

.sidebar__inner .sidebar .list li {
  padding: 20px;

  border-bottom: 1px solid #57977b;
  border-bottom: 1px solid rgba(89, 204, 48, 0.36);
  border-top: 1px solid rgba(89, 204, 48, 0.36);
}

.sidebar__inner .sidebar .list li a {
  color: #57977b;
  font-weight: 700;
  display: block;
}

.sidebar__inner .sidebar .list li:hover {
  background-color: #368462;
}

.sidebar__inner .sidebar .list li:hover a {
  color: #fff;
}

.marks__title {
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-bottom: 30px;
  font-size: 1.5rem;
}

.marks__img {
  width: 6rem;
  height: 6rem;
  object-fit: cover;
}

.marks__inner {
  display: grid;
  grid-template-columns: repeat(auto-fit, 200px);
  justify-content: center;
  margin-bottom: 25px;
  column-gap: 50px;
}
.marks__inner__ctx {
  text-align: center;

  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;

  background: rgb(252, 247, 247);
  padding: 25px 0;
  margin-bottom: 25px;
}

.mark__name {
  margin-top: 10px;
  margin-bottom: 10px;
  overflow-wrap: break-word;
  word-wrap: break-word;
  font-size: 2rem;
  font-weight: 700;
  line-height: 30px;
}

.list__of__subjects__inner {
  display: flex;
  justify-content: center;
  align-items: center;

  margin-bottom: 60px;
  column-gap: 70px;
}

.list__of__subjects__box {
  text-align: center;
  padding-top: 30px;

  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  background: rgb(252, 247, 247);
  width: 600px;
}

.list__of__subjects__text {
  margin-top: 10px;
  font-weight: 700;
  font-size: 1.2rem;
  text-wrap: balance;
  line-height: 40px;
}

.con__img {
  text-align: center;
  margin-bottom: 20px;
}

.marks__lab__top__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  margin-bottom: 25px;
}

.marks__lab__inner {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  place-items: center;
  background-color: #fcf7f7;
  padding: 19px 10px;
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  margin-bottom: 25px;
}

.marks__lab__inner__text {
  font-size: 1rem;
}

.nav {
  background-color: #ae6cec;
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 100%;

  padding: 10px 20px;
}
.cpn__g {
  flex: 1;
  display: grid;
  place-items: center;
  margin-left: 150px;
}

.link {
  background: none;
  border: none;
  text-decoration: none;
  color: #000;
  font-family: inherit;
  font-size: inherit;
  cursor: pointer;
  width: 12.875rem;
  padding: 0.625rem 0;

  border: 1px solid #000;
  border-radius: 15px;

  display: block;
  margin-right: 5px;
  text-align: center;

  font-weight: 400;
  max-width: 280px;

  transition: all 0.5s ease-in;
}

.dropdown.active > .link,
.link:hover {
  color: #575555;
}

.link.link_a {
  border: none;
}

.link::first-letter {
  text-transform: uppercase;
}

.dropdown {
  position: relative;
}

.dropdown-menu {
  position: absolute;
  right: -5px;
  top: 80px;
  background-color: #fcf7f7;
  padding: 0.625rem 2.5rem;
  border-radius: 15px;

  border: 0.5px solid rgb(0, 0, 0);

  opacity: 0;
  pointer-events: none;
  transform: translateY(-10px);
  transition: opacity 150ms ease-in-out, transform 150ms ease-in-out;
}

.dropdown.active > .link + .dropdown-menu {
  opacity: 1;
  transform: translateY(0);
  pointer-events: auto;
}

.dropdown-links {
  display: flex;
  flex-direction: column;
  row-gap: 0.6875rem;
  align-items: center;
}

.work__item__inner {
  display: flex;
  justify-content: center;
  column-gap: 40px;
  align-items: center;
  margin-bottom: 50px;
  flex-wrap: wrap;
}

.work__item__box {
  border: 0.5px solid rgb(0, 0, 0);
  border-radius: 15px;
  background: rgb(252, 247, 247);
  text-align: center;
  width: 300px;

  padding-top: 90px;
  padding-bottom: 80px;
}

.work__item__text {
  font-weight: 700;
  font-size: 2rem;
  line-height: 60px;
  max-width: 221px;
  margin: 0 auto;
  text-wrap: balance;
  &:hover {
    text-decoration: underline 4px solid #000;
    text-underline-offset: 10px;
  }
}

#form__new__faculty {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 120px;
  border-radius: 15px;
}
#form__new__faculty input {
  margin-bottom: 20px;
}

#form__new__faculty .login {
  color: #fff;
  background-color: rgb(41, 57, 194);
  padding: 12px 95px;
  max-width: fit-content;
  transition: all.5s;
  &:hover {
    background-color: #181d79;
  }
  margin: 0 auto;
  margin-bottom: 70px;
}

#new__faculty:placeholder-shown {
  border-color: #ff3860;
}

#form__new__work {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 120px;
  border-radius: 15px;
}

#form__new__work .login {
  color: #fff;
  background-color: rgb(41, 57, 194);
  padding: 12px 95px;
  max-width: fit-content;
  transition: all.5s;
  &:hover {
    background-color: #181d79;
  }
  margin: 0 auto;
  margin-bottom: 70px;
}

#new__work:placeholder-shown {
  border-color: #ff3860;
}

#forget__form {
  max-width: 41.25rem;
  flex-wrap: wrap;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin: 0 auto;
  background-color: #fcf7f7;
  border: 0.5px solid rgb(0, 0, 0);
  padding: 2.0625rem 12.1875rem;
  margin-bottom: 7.5rem;
  border-radius: 15px;
}
#forget__form .forget__btn {
  color: #fff;
  background-color: rgb(41, 57, 194);
  padding: 0.9375rem 1.875rem;
  max-width: fit-content;
  transition: all.5s;
  &:hover {
    background-color: #181d79;
  }
  margin: 0 auto;
  margin-bottom: 1.875rem;
  margin-top: 1.25rem;
}

#forget__form__input:placeholder-shown {
  border-color: #ff3860;
}
#images__subject::file-selector-button {
  display: none;
}
.course__inner {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  column-gap: 10px;
  margin-bottom: 50px;
}
.semesters__inner {
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 15px;
  margin-bottom: 50px;
}

.title__universyty {
  text-align: center;
  text-wrap: balance;
  max-width: 490px;
  margin: 0 auto;
  line-height: 20px;
  margin-bottom: 20px;
}
.universyty__inner__top__text::first-letter {
  text-transform: uppercase;
}
.universyty__inner__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}
.text--left {
  margin-right: 30px;
}
.year__study {
  text-align: center;
  font-style: italic;
  margin-bottom: 25px;
}
.year__subtitle {
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 15px;
}
.year__subtitle__date {
  text-align: center;
  font-weight: 700;
  margin-bottom: 25px;
}

.year__subtitle__date__part__1 {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-style: italic;
  font-weight: 400;
}
.year__subtitle__date__part__2 {
  text-decoration: underline;
  text-underline-offset: 3px;
  font-weight: 400;
  font-style: italic;
}
.subject__name__work__book {
  border-bottom: #000 solid 2px;
}
.subject__name__first__letter::first-letter {
  text-transform: uppercase;
}

.subject__name__work__book__small__text {
  text-align: center;
  font-size: 12px;
}

.subject__name__work__book__small__text__semester {
  margin-bottom: 25px;
}
.subject__name__work__book__small__text__semester__number {
  text-transform: uppercase;
  font-size: 16px;
  text-decoration: underline;
}

.name__test {
  position: relative;
  border-bottom: #000 solid 2px;
  display: inline-block;

  padding: 0 40px;
}

.test__ctx {
  margin-bottom: 25px;
}
.test__ctx::first-letter {
  text-transform: uppercase;
}

.information__about__teacher::first-letter {
  text-transform: uppercase;
}

.name__test::before {
  position: absolute;
  content: "(екзамен,залік)";
  bottom: -15px;
  left: 20px;
  width: 2px;
  font-size: 12px;
}

.hour__test {
  border-bottom: #000 solid 2px;
  display: inline-block;

  padding: 0 10px;
}
.info__teacher {
  display: flex;
  align-items: center;
}

.teacher__role {
  margin-right: 6px;
}

.teacher__name {
  border-bottom: 2px solid #000;
  display: inline-block; /* щоб лінія йшла тільки під текстом */
  width: 100%;
}
.teacher__desc {
  text-align: center;
  font-size: 12px;
  text-wrap: balance;
  margin-bottom: 40px;
}

.table__score {
  margin-bottom: 120px;
}
.table__score__title {
  text-align: center;
  margin-bottom: 50px;
}
.table__score__title::first-letter {
  text-transform: uppercase;
}

.table__score__bottom__inner {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  place-items: center;

  margin-bottom: 50px;
}
.table__score__bottom__text__teacher__name {
  position: relative;
}
.table__score__bottom__text__teacher__name::before {
  position: absolute;
  content: "(ім`я та призвіще)";
  bottom: -20px;
  left: 50%;
  transform: translateX(-50%);
  font-size: 12px;
  white-space: nowrap;
}

.table__score__bottom__text__signature {
  position: relative;
}

.table__score__bottom__text__signature::before {
  position: absolute;
  content: "(підпис)";
  font-size: 12px;
  bottom: -13px;
  left: 50%;
  transform: translateX(-50%);
  white-space: nowrap;
}
.table__score__bottom__text__teacher__name {
  text-decoration: underline;
  text-underline-offset: 5px;
}
@media (max-width: 1270px) {
  .course__inner {
    grid-template-columns: repeat(auto-fit, 300px);
    justify-content: center;
    row-gap: 20px;
  }
}
@media (max-width: 1024px) {
  .list__top,
  .list__info {
    grid-template-columns: repeat(2, 1fr);
    row-gap: 20px;
  }
  .list__of__subjects__inner {
    flex-direction: column;
    row-gap: 20px;
  }
  .semesters__inner {
    flex-wrap: wrap;
    row-gap: 10px;
  }
}

@media (max-width: 930px) {
  .personal__info__inner {
    row-gap: 20px;
  }
  .faculty__inner {
    flex-direction: column;
    row-gap: 10px;
  }
  .work__inner {
    flex-direction: column;
    row-gap: 10px;
  }
  .table__score {
    width: 100%;
    table-layout: fixed;
  }

  .work__item__inner {
    flex-direction: column;
    row-gap: 15px;
  }
  .list__of__subjects__inner {
    flex-wrap: wrap;
    row-gap: 20px;
  }
}

@media (max-width: 768px) {
  #form {
    padding: 20px;
    max-width: 100%;
  }

  #form__new__faculty {
    padding: 20px;
    max-width: 100%;
  }

  #form__new__work {
    padding: 20px;
    max-width: 100%;
  }

  #form__subject {
    padding: 20px;
    max-width: 100%;
  }
  .form__login {
    padding: 20px;
    max-width: 100%;
  }
  #forget__form {
    padding: 20px;
    max-width: 100%;
  }

  .input-control input {
    padding-right: 10px;
  }

  .admin__panel__inner {
    flex-wrap: wrap;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }

  .admin__btn__container {
    display: flex;
    justify-content: center;
  }
  .faculty__inner {
    grid-template-columns: repeat(1, 1fr);
  }
  .table__score__bottom__text {
    font-size: 10px;
    text-wrap: balance;
  }
  .table__score__bottom__text__signature {
    font-size: 10px;
  }
  .table__score__bottom__text__teacher__name {
    font-size: 10px;
  }
  .table__score__bottom__text__teacher__name::before {
    font-size: 10px;
  }
  .table__score__bottom__text__signature::before {
    font-size: 10px;
  }
}

@media (max-width: 730px) {
  .admin__panel__inner {
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
  }
}

@media (max-width: 652px) {
  .sidebar__inner .sidebar {
    width: 100vw;
    height: 100vh;
    z-index: 999;
    left: 0;
    top: 0;
  }

  .sidebar__inner {
    flex-direction: column;
  }
}

@media (max-width: 600px) {
  .list__top,
  .list__info {
    grid-template-columns: 1fr;
    row-gap: 15px;
  }
  .marks__inner {
    grid-template-columns: repeat(auto-fit, 350px);
  }

  .list__info__btn {
    width: 100%;
    padding: 12px 0;
  }

  .btns__info {
    width: 100%;
    align-items: stretch;
  }
  .table__score {
    overflow-x: scroll;
    width: 100%;
    table-layout: fixed;
  }

  :is(th, td) {
    font-size: 12px;
  }
}
.table__score__bottom__inner {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

@media (max-width: 480px) {
  #form button {
    font-size: 14px;
    padding: 12px;
  }

  .footer__top {
    row-gap: 20px;
  }
  #form .qr__code__btn::before {
    top: 38px;
    left: 65px;
  }

  .marks__lab__inner__text {
    font-size: 0.875rem;
  }

  .marks__lab__top__text {
    font-size: 0.875rem;
  }

  .cpn__g {
    margin-left: 0;
  }
  .dropdown-menu {
    right: -20px;
  }

  .teacher__desc {
    max-width: 270px;
    margin: 0 auto;
    margin-bottom: 40px;
  }
  .title__universyty {
    font-size: 12px;
  }

  .universyty__inner__top {
    flex-wrap: wrap;
    margin-bottom: 25px;
  }
  .universyty__inner__top__text {
    font-size: 12px;
  }
  .universyty__inner__top__text {
    font-size: 12px;
  }
  .year__study {
    font-size: 12px;
  }
  .year__subtitle {
    font-size: 12px;
  }
  .year__subtitle__date {
    font-size: 12px;
  }
  .subject__name__work__book {
    font-size: 12px;
  }
  .subject__name__work__book__small__text {
    font-size: 12px;
  }
  .test__ctx {
    font-size: 14px;
  }
}

.table-input {
  width: 100%;
  height: 100%;
  border: none;
  outline: none;
  padding: 8px;
  font-family: inherit;
  font-size: inherit;
  background: transparent;
  box-sizing: border-box;
}

.table-input:focus {
  background-color: #f0f0f0;
}

.table__score table td {
  padding: 0;
}

.my_button {
  margin: 25px;
  text-align: center;
  font-weight: 500;
  line-height: 1.5;
  border: 1px solid #000;
  background-color: #5e87c2;
  padding: 5px;
  border-radius: 10px;
}

