@model DbWebApplication.ViewModels.EnrollStudentViewModel
@using DbWebApplication.Enum
@{
}


<h1>Запис на предмет</h1>
<br/>
<form class="form" method="post" asp-action="EnrollStudent" enctype="multipart/form-data">
    <div class="row">
        <div class="col-6">
            <div class="form-floating mb-3">
                <input asp-for="LastName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name"/>
                <label asp-for="LastName">Last Name</label>
                <span asp-validation-for="LastName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="FirstName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name"/>
                <label asp-for="FirstName">First Name</label>
                <span asp-validation-for="FirstName" class="text-danger"></span>
            </div>

            <div class="form-floating mb-3">
                <input asp-for="FatherName" class="form-control" autocomplete="username" aria-required="true" placeholder="First Name"/>
                <label asp-for="FatherName">Father Name</label>
                <span asp-validation-for="FatherName" class="text-danger"></span>
            </div>

            <div class="form-group mb-3">
                <select asp-for="Faculty" asp-items="@Html.GetEnumSelectList<Faculty>()" class="form-control form-select">
                </select>
                <span asp-validation-for="Faculty" class="text-danger"></span>
            </div>
            
            <div class="mb-3 form-floating">
                <div class="form-group">
                    <select asp-for="SubjectName" class="form-control form-select">
                        @foreach (var subject in Model.Subjects)
                        {
                        <option value="@subject">@subject</option>
                        }
                    </select>
                    <span asp-validation-for="SubjectName" class="text-danger"></span>
                </div>
            </div>
            
        </div>
        </div>
        

    <button class="button__form" type="submit">Записати</button>
</form>