@model List<DbWebApplication.ViewModels.SessionSubjectViewModel>


@*<form asp-action="Create" enctype="multipart/form-data" method="post">
    @{
        foreach (var grade in @Model)
        {
            <div class="form-group">
                <label asp-for="@grade.SessionSubject"></label>
                <input asp-for="@grade.SessionSubject" class="form-control"/>
                <span asp-validation-for="@grade.SessionSubject" class="text-danger"></span>
            </div>
        }
    }
    <button type="submit" class="btn btn-primary">Створити</button>
</form>*@